*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 350px;
        width: 100%;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    }

form{
    display: flex;
    min-width: 300px;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(155deg, #BB64FF 1.25%, #D74D00 98.37%);
}

.form-header{
    margin: auto;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: .9375rem;
    padding-bottom:  10px;
    border-bottom: 1px solid white ;
}

.form-header img{
    width: 40px ;
    height: 40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px
}

.input-group input{
    color: black;
    height: 35px;
    padding: 10px;
    border: 1px solid #858484;
    border-radius: 5px ;
    outline-color: #BB64FF;
}

.input-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
}
.input-checkbox label {
    display: flex;
    gap: 4px;
    align-items: center;
}
.button-continue{
    cursor: pointer;
    margin: auto;
    width: 100px;
    padding: 10px 0px;
    background: #E7862A;
    border-radius: 7px ;
    font-weight: bolder;
    border: none;
}
.logar-criar{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
}
.text-ou{
    position: relative;
    z-index: 10;
}
.text-ou::after{
    z-index: 1;
    position: absolute;
    content: '';
    background: white;
    width: 60px;
    height: 1px;
    top: 9px;
    left: 40px;
}
.text-ou::before{
    z-index: 1;
    position: absolute;
    content: '';
    background: white;
    width: 60px;
    height: 1px;
    top: 9px;
    right: 40px;
}

.logar-criar a{

    color: #0581E6;
}
.logar-criar button{
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 5px 0px;
    gap: 20px;
    color: #4E4E4E;
    border-radius: 5px ;
    border: 1px solid;
}

.logar-criar button img{
   width: 25px;
   height: 25px;
}

.img-lateral{
    display: none;
}

/* responsividade para tablet */
@media screen and ( min-width: 480px ) {
    .container{
    max-width: 470px ;
    }
    form{
        padding: 53px 30px;
    }
    .form-header{

    }
    .input-group{
        gap: 16px;
    }
    .input-group input{
        height: 45px;
    }
    .input-checkbox input{
        height: 20px;
    }
    .logar-criar button{
    height: 45px;
    }
}

/* responsividade para desktop */
@media screen and ( min-width: 1024px ) {
    .container{
        display: flex;
        align-items: center;
        max-width: 720px;  
    }
    form {
        min-width: 350px;
        border-radius: 10px 0px 0px 10px;
    }

    .img-lateral{
        display: flex;
        width: 350px;
 
    }
}
