*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
}

.container{
    margin: 20px;
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(155deg, #BB64FF 1.25%, #D74D00 98.37%);
}

.form-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    gap: .9375rem;
    padding-bottom:  10px;
    border-bottom: 1px solid white ;
}

.form-header img{
    width: 40px ;
    height: 40px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px
}

.input-group input{
    color: black;
    height: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px ;
    outline-color: #BB64FF;
}

.input-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}
.input-checkbox label {
    display: flex;
    gap: 2px;
    align-items: center;
}
.button-continue{
    margin: auto;
    width: 74px;
    height: 25px;
    background: #E7862A;
    border-radius: 7px ;
    font-weight: bolder;
    border: none;
}
.logar-criar{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .625rem;
    gap: 8px;
   
}
.text-ou{
    position: relative;
    z-index: 10;
}
.text-ou::after{
    z-index: 1;
    position: absolute;
    content: '';
    background: white;
    width: 60px;
    height: 1px;
    top: 9px;
    left: 5px;
}
.text-ou::before{
    z-index: 1;
    position: absolute;
    content: '';
    background: white;
    width: 60px;
    height: 1px;
    top: 9px;
    right: 5px;
}

.logar-criar a{

    color: #0581E6;
}
.logar-criar button{
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 5px 0px;
    gap: 20px;
    color: #4E4E4E;
    border-radius: 5px ;
    border: none;
}

.logar-criar button img{
   width: 15px;
   height: 15px;
}



.img-lateral{
    display: none;
}
